.goods {
  padding-top: 100px;

  @media (max-width: 480px) {
    padding-top: 30px;
  }

  &--margin-bottom {
    margin-bottom: 100px;

    @media (max-width: 480px) {
      margin-bottom: 50px;
    }
  }

  &__title-first-word {
   color: #60b021;
   margin-right: 10px;

   @media (max-width: 480px) {
     color: #000;
   }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 30px;
  }

  &__cards-box {
    width: 1150px;
    margin: 0 auto;

    @media (max-width: 480px) {
      max-width: 480px;
    }
  }
}

.swiper {
  padding: 0 30px !important;
}

.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);

  &::after {
    font-size: inherit !important;
    color: #000 !important;
  }
}

.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  
  &::after {
    font-size: inherit !important;
    color: #000 !important;
  }
}