.advantages {
  height: 130px;
  background-color: #f5f5f5;

  padding: 48px 135px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1280px) {
    padding: 48px;

    flex-wrap: wrap;
    gap: 20px;

    height: max-content;
  }

  @media (max-width: 480px) {
    background-color: #fff;

    padding: 25px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1280px) {
      flex-direction: column;
      justify-content: center;

      padding: 20px;
    }

    @media (max-width: 480px) {
      height: 160px;
      width: calc(50% - 10px);

      background-color: #f5f5f5;

      justify-content: start;

      padding: 30px 20px 0px;

      text-align: center;
    }
  }

  &__icon {
    margin-right: 14px;

    width: 32px;
    height: 32px;

    @media (max-width: 1280px) {
      margin-bottom: 15px;
      margin-right: 0;
    }

    &--choice {
      background-image: url(../../img/icons/features/choice.svg);
      background-size: cover;
      background-position: center;
    }

    &--clock {
      background-image: url(../../img/icons/features/clock.svg);
      background-size: cover;
      background-position: center;
    }

    &--location {
      background-image: url(../../img/icons/features/location.svg);
      background-size: cover;
      background-position: center;
    }

    &--delivery {
      background-image: url(../../img/icons/features/delivery.svg);
      background-size: cover;
      background-position: center;
    }

    &--pay-card {
      background-image: url(../../img/icons/features/pay-card.svg);
      background-size: cover;
      background-position: center;
    }
  }
}